/* Paragraph styling */
p {
    font-family: Verdana, sans-serif;
    color: green;
    background-color: yellow;
    text-align: center;
    font-size: 18px;
}

/* Heading 1 */
h1 {
    font-family: Arial, sans-serif;
    color: white;
    background-color: black;
    text-align: left;
}

/* Heading 2 */
h2 {
    font-family: Courier, monospace;
    color: yellow;
    background-color: green;
    text-align: left;
}

/* Heading 3 */
h3 {
    font-family: Comic Sans MS, cursive;
    color: black;
    background-color: white;
    text-align: left;
}

/* Heading 4 */
h4 {
    font-family: Verdana, sans-serif;
    color: green;
    background-color: black;
    text-align: left;
}

/* Heading 5 */
h5 {
    font-family: Arial, sans-serif;
    color: white;
    background-color: green;
    text-align: left;
}
